services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - ./beszel_data:/beszel_data
      - ./beszel_socket:/beszel_socket
  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./beszel_agent_data:/var/lib/beszel-agent
      - ./beszel_socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/external-drive:/extra-filesystems/sda1:ro
    #      - /mnt/external-drive:/mnt/external-ssd:ro
    environment:
      LISTEN: /beszel_socket/beszel.sock
      HUB_URL: http://localhost:8090
      TOKEN: 1101-d8cb507df8-15ad-c7c7c55bf2
      KEY: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHByIQH1AdlorjEobT9tQGo7wKJUBm0OqsU+QJAOFoiM
networks: {}
