services:
  portainer:
    image: portainer/portainer-ce:2.33.6
    container_name: portainer
    ports:
      - 8000:8000
      - 9443:9443
    volumes:
      - ./data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
networks: {}
